body {
  width: 8.5in;
  height: 11in;
  margin: 0;
  padding: 0;
}
p {
  text-indent: 30px;
  margin: 0;
}

@font-face {
  font-family: 'arial';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/arial.ttf');
}
@font-face {
  font-family: 'arialBoldItalic';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/arialbi.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/times-new-roman-bold-italic-2.ttf');
}
@font-face {
  font-family: 'times-new-roman-italic';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/times-new-roman-italic.ttf');
}
@font-face {
  font-family: 'times-new-roman-bold';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/times-new-roman-bold.otf');
}
@font-face {
  font-family: 'times-new-roman';
  font-style: normal;
  vertical-align: middle;
  src: url('../font/times-new-roman.ttf');
}
